<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true">
        
    <testsuites>
        <testsuite name="Passmarked/PHP Tests">
        <directory>tests</directory>
        </testsuite>
    </testsuites>
    <!--<logging>
    <log type="coverage-clover"
        target="build/tests-clover.xml"/>
    <log type="junit"
        target="build/tests-junit.xml"
        logIncompleteSkipped="false"/>
    </logging>-->
    <filter>
        <blacklist>
            <directory>vendor/</directory>
        </blacklist>
    </filter>
</phpunit>